/*
 * Document   : style.css
 * Created on : 12/11/2014
 * Author     : Miguel,Daniel,Victor,Luis,Claudia
 * Description: css styles
 */

header{
	background-color: black;
	width: auto;
	height: 170px;
}

input[type="text"]:focus{
	outline: none;
    border-color: #47C4FF;
    box-shadow: 0 0 10px #47C4FF;
}

input[type="submit"]:hover  {
	outline: none;
    border-color: #036CA1;
    background-color: #138BC7;
}

input[type="submit"]:active {
	outline: none;
    border-color: #036CA1;
    background-color: #06567D;	
}

@media screen and (min-width: 100px){
	body{
		background-color: black;
	}

	svg.logo{
		width: 300px;
		height: 200px;
		margin-left: 11%;
		margin-top: 20px;		
	}

	svg.logo text{
   		font-family: "Arial";
    	font-size: 85px;    	
  	}

  	.text_fields input{
  		border-radius: 8px;
  		border-color: #47C4FF;
  		margin-left: -11px;
  		margin-top: 3%;
  		width: 200px;
  		height: 15px;
  		font-family: "Arial";
  		font-size: 13px;
  	}

  	.login input{
  		margin-top: 8%;  		
  		border-radius: 8px;
  		background-color: #47C4FF;
  		font-family: "Arial";
  		font-size: 15px;
  		font-weight: bold;
  		border-style: none;
  		color: white;

  	}

  	.fondo_gris{
  		margin-top: -25px;
  		margin-left: 14%;
  		width: 180px;
  		height: 90px;
  		background-color: #4B4B4B;
  		padding: 10px 40px;
  		border-radius: 25px;
  		text-align: center;
  	}

  	.extras {
  		width: 180px;
  		height: 25px;
  		margin-top: -5px;
  		margin-left: 14%;
  		text-align: center;
  		padding: 10px 40px;
  	}

	.extras a.forgot_pass:link {
		text-decoration:none; 
    	color: white;
    	font-size: 11px;
    	font-family: "Arial";     	   	
	}

	.extras a.forgot_pass:visited {
		text-decoration:none; 
    	color: white;
    	font-size: 11px;
    	font-family: "Arial";    	
	}

	.extras a.forgot_pass:hover {
		text-decoration:none; 
    	color: #138BC7;
    	font-size: 11.5px;
    	font-family: "Arial";    	
	}

	.extras a.forgot_pass:active {
		text-decoration:none; 
    	color: #06567D;
    	font-size: 11.5px;
    	font-family: "Arial";    	
	}

	.registrar {
		margin-top: 170px;
  		margin-left: 14%;
  		width: 180px;
  		height: 90px;
  		background-color: #4B4B4B;
  		padding: 10px 40px;
  		border-radius: 25px;
  		text-align: center;
	}	

	.registrar input {	
  		border-radius: 8px;
  		background-color: #47C4FF;
  		font-family: "Arial";
  		font-size: 18px;
  		font-weight: bold;
  		border-style: none;
  		color: white;
	}

	.registrar p {
		color: white;
		font-family: "Arial";
		font-size: 15px;
		font-weight: bold;		
	}

	.presentacion {
		width: 255px;
		height: auto;
		margin-left: 14%;
		margin-top: 25px;
		border-radius: 25px;
		background-color: #4B4B4B;;
	}

	.presentacion img {
		width: 110px;
		height: 120px;
		margin-left: 5px; 
		margin-top: 25px;				
	}
	
	.intro {
		width: 150px;
		height: auto;
		margin-left: 95px;
		margin-top: -150px;		
	}

	.intro p {
		font-family: "Arial";
		font-size: 13px;
		color: white;
		text-align: justify;
		margin-left: 20%;
	}

	.container {
		width: auto;
		height: auto;
	}

}

@media screen and (min-width: 480px){
	body{
		background-color: black;
	}

	svg.logo{
		width: 360px;
		height: 200px;
		margin-left: 14%;		
	}

	svg.logo text{
   		font-family: "Arial";
    	font-size: 105px;    	
  	}


}

@media screen and (min-width: 767px){
	body {
		background-color: #DFDCDC;
	}

	svg.logo{
		width: 400px;
		height: 200px;
		margin-left: 6%;
	}

	svg.logo text{
   		font-family: "Arial";
    	font-size: 110px;    	
  	}
}

@media screen and (min-width: 950px){
	body {
		background-color: #DFDCDC;
	}
	svg.logo{
		width: 500px;
		height: 200px;
		margin-left: 6%;			
	}

	svg.logo text{
   		font-family: "Arial";
    	font-size: 140px;    	
  	}
}