/*
Document   : style.css
Created on : 12/11/2014
Author     : Miguel,Daniel,Victor,Luis,Claudia
Description: css styles
*/

header{
	background-color: black;
	width: auto;
	height: 200px;
}

@media screen and (min-width: 10px){
	body{
		background-color: black;
	}

	svg.logo{
		width: 470px;
		height: 200px;
		margin-left: 17%;
	}
	
	svg.logo text{
		font-family: "Arial";
		font-size: 80px;
	}
}

@media screen and (min-width: 767px){
	body {
		background-color: #DFDCDC;
	}
}

@media screen and (min-width: 950px){
	body {
		background-color: #DFDCDC;
	}
}