/*
 * Document   : style.css
 * Created on : 12/11/2014
 * Author     : Miguel,Daniel,Victor,Luis,Claudia
 * Description: css styles
 */

.head{
 	width: 100%;
	height: 50px;	
	background-color: black;
	position: fixed;
	margin-top: -50px;
	-webkit-box-shadow: 3px 3px 5px #2F2E2E;
    -moz-box-shadow: 3px 3px 5px #2F2E2E;
}

.header_perfil {
 	width: 100%;
 	background-color:#47C4FF;
 	background-image: url("/static/img/fondo_blue.jpg");
 }

input[type="search"]:focus , TEXTAREA[type="text"]:focus, input[type="file"]{
	outline: none;
    border-color: #47C4FF;
    box-shadow: 0 0 10px #47C4FF;
}

input[type="submit"]:hover, input[type="file"] {
	outline: none;
    border-color: #036CA1;
    background-color: #138BC7;
}

input[type="submit"]:active , input[type="file"]{
	outline: none;
    border-color: #036CA1;
    background-color: #06567D;	
}

input[type="submit"], input[type="file"]{
	border-radius: 8px;
  	background-color: #47C4FF;
  	font-family: "Arial";
  	font-weight: bold;
  	border-style: none;
  	color: white;
}

#contenido a{
	text-decoration: none;
}

#contenido a:hover{
	font-weight: bold;
}

select {
	border-radius: 8px;
	border-color: #47C4FF;
	color:#8A8A8A;
	background-color: white;
	font-family: "Arial";
}

select:focus , select:focus{
	outline: none;
    border-color: #47C4FF;
    box-shadow: 0 0 10px #47C4FF;
}

select:hover  {
	outline: none;
    border-color: #47C4FF;
}

select:active {
	outline: none;
    border-color: #47C4FF;
    background-color: white;	
}

.head #buscador {
	width: 40%;
	height: 50px;	
	margin-left: 60%;
}

.head #buscador input{
	border-radius: 8px;
  	border-color: #47C4FF;
  	font-family: "Arial";
  	width: 50%;
  	max-width: 300px;
  	height: 15px;
  	margin-top: 13px;
  	margin-left:20%;
  	font-size: 80%;
}

#contenido #publicacion_nueva TEXTAREA{
	border-radius: 8px;
  	border-color: #47C4FF;
  	font-family: "Arial";
  	resize: none;
  	overflow: hidden;
}

#contenido #nuevo_comentario input{
	border-radius: 8px;
  	border-color: #47C4FF;
  	font-family: "Arial";
  	resize: none;
  	overflow: hidden;
}

#contenido #nuevo_comentario select{
	display: none;
}

#contenido #publicacion_nueva input[type="file"]{
	display: none;
}


.head #buscador input:focus{
	width: 65%;
}

.head #logo{
	width: 20%;
	height: 50px;
	margin-left: 40%;
	margin-top: -65px;
}

.head #logo img{
	width: 80px;
	height: 80px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.head #botones{
	width: 40%;
	height: 50px;
	margin-top: -35px;
}

.header_perfil #foto_perfil{
	border-radius: 10px;
	border-color: white;
	background-color: white; 
	-webkit-box-shadow: 0px 0px 10px #FCF893;
    -moz-box-shadow: 0px 0px 10px #FCF893;
}

.header_perfil #datos_principales{
	background-color: none;
}

.menu_centro{
	width: 100%;
	height: 40px;
	text-align: center;
	color: white;
	
}

.menu_centro #archivos{
	width: 33%;
	height: 40px;
	-webkit-box-shadow: 2px 2px 5px #2F2E2E;
    -moz-box-shadow: 2px 2px 5px #2F2E2E;
    border-radius: 5px;
}

.menu_centro #archivos button,.menu_centro #publicaciones button,.menu_centro #informacion button{
	width: 100%;
	height: 100%;
	background-color: #C3C3C3;
	border-radius: 2px;
	border-width: 0px;
	font-family: "Arial";
}

.menu_centro #archivos button:hover,.menu_centro #publicaciones button:hover,.menu_centro #informacion button:hover{
	background-color: #A6A6A6;
	font-size: 17px;
}

.menu_centro #publicaciones{
	width: 33%;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -40px;
	-webkit-box-shadow: 2px 2px 5px #2F2E2E;
  	-moz-box-shadow: 2px 2px 5px #2F2E2E;
  	border-radius: 5px;
}

.menu_centro #informacion{
	width: 33%;
	height: 40px;
	margin-left: 67%;
	margin-top: -40px;
	-webkit-box-shadow: 2px 2px 5px #2F2E2E;
  	-moz-box-shadow: 2px 2px 5px #2F2E2E;
  	border-radius: 5px;
}

#contenido {
	margin: 0 auto;
	padding: 10px 0px;
	height: auto;
}

#contenido #publicaciones_usuario {
	margin: 0 auto;
	height: auto;
	background-color: #F0F0F0;
	-webkit-box-shadow: 3px 5px 15px #2F2E2E;
  	-moz-box-shadow: 3px 5px 15px #2F2E2E;
  	border-radius: 8px;
}

#contenido #info_p{
	margin: 0 auto;
	height: auto;
	background-color: #F0F0F0;
	-webkit-box-shadow: 3px 5px 15px #2F2E2E;
  	-moz-box-shadow: 3px 5px 15px #2F2E2E;
  	border-radius: 8px;
}

#contenido #publicacion_nueva{
	margin: 0 auto;
	background-color: #F0F0F0;
	-webkit-box-shadow: 3px 5px 15px #2F2E2E;
  	-moz-box-shadow: 3px 5px 15px #2F2E2E;
  	border-radius: 8px;
}


body {
  	left: 0;
  	margin: 0;
  	position: relative;
  	background-color: #DFDCDC;
}

/* Initial menu */
.menu {
  	background: black;
  	left: -285px;
  	height: 100%;
  	position: fixed;
  	width: 120px;
  	margin-top: -50px;
}

/* Basic styling */
.jumbotron { 
  	height: 100%;
  	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -45px;
}

.menu ul {
 	border-top: 1px solid #636366;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}

.menu li {
	border-bottom: 1px solid #636366;
  	font-family: 'Open Sans', sans-serif;
  	line-height: 45px;
  	padding-bottom: 3px;
  	padding-left: 20px;
  	padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  	cursor: pointer;
  	padding-left: 10px;
  	padding-top: 10px;
}

.icon-menu {
  	color: #fff;
  	cursor: pointer;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 40px;
  	margin-top: 2px;
  	margin-left: 35%;
  	margin-right: 61%;
  	margin-bottom: 2px;
  	text-decoration: none;
  	text-transform: uppercase;
}

.notificacion_logo {
	margin-left: 65%;
	width: auto;
	height: auto;
	margin-top: 2px;
}

.notificacion_logo img{
	margin-top: 8px;
	width: 30px;
	height: 30px;
}

.icon-menu:hover{
	font-size: 41px;
}

.icon-menu i {
  	margin-right: 5px;
}

#espacio_perfil{
	width: 100%;
	height: 20px;
}

#contenido #info_p{
	padding: 0.5px 5px;
	color: #737373;
}

#contenido #info_p #foto_i{
	margin: 0 auto;
	background-color: white;
	-webkit-box-shadow: 3px 5px 15px #2F2E2E;
  	-moz-box-shadow: 3px 5px 15px #2F2E2E;
  	border-radius: 8px;
}

#contenido #info_p #div_act_foto{
	width: 95%;
	height: 80%;
	margin: 0 auto;
}

#contenido #info_p #div_act_foto input[type="submit"]{
	margin-bottom: 10px;
}

#contenido #info_p #div_act_foto input[type="file"]{
	margin-top: 20px;
	margin-bottom: 10px;
}

.header_perfil #foto_perfil img{
	width: 101%;
	height: 101%;
	margin-top: -18px;
	border-radius: 3px;
	-webkit-box-shadow: 3px 5px 15px #2F2E2E;
  	-moz-box-shadow: 3px 5px 15px #2F2E2E;
}

/* Para pantallas de 100px en adelante */
@media screen and (min-width: 100px){
	
	.header_perfil {
		height: 160px;
		margin-top: 50px;
		padding: 1px 0px;
	}

	.header_perfil #foto_perfil{
		width: 90px;
		height: 90px;
		margin-left: 6%;
		margin-top: 15px;
	}

	.header_perfil #datos_principales{
		width: 200px;
		height: 90px;
		margin-left: 38%;
		margin-top: -80px;
		color: white;
	}

	.header_perfil #datos_principales h2 {
		margin-top: 0px;
		font-family:'Open Sans', sans-serif;
	}

	.header_perfil #datos_principales h3 {
		margin-top: -10px;
		font-family: 'Open Sans', sans-serif;
	}

	#contenido {
		margin-top: 0px;
		width: 350px;
	}

	#contenido #publicaciones_usuario{
		width: 290px;
		padding: 0.5px 5px;
	}

	#contenido #publicacion_nueva{
		width: 300px;
	}

	#contenido #publicacion_nueva img{
		width: 35px;
		height: 35px;
		margin-bottom: -10px;
	}

	#espacio {
		height: 220px;
		width: auto;
	}

	.menu_centro {
		margin-top: -30px;
	}

	#contenido #publicacion_nueva input[type="submit"]{
		width: 110px;
	}

	#contenido #publicacion_nueva TEXTAREA{
		margin-left: 4%;
		margin-top: 10px;
		width: 269px;
		height: 50px;
		font-size: 14px;
		font-family: "Arial";
	}

	#contenido #nuevo_comentario input{
		margin-left: 4%;
		margin-top: 5px;
		width: 269px;
		height: 50px;
		font-size: 14px;
		font-family: "Arial";
	}

	#contenido #publicacion_nueva select{
		margin-left: 4%;
		width: 120px;
		margin-bottom: 5px;
	}

	#contenido #id_p{
		display: none;
	}

	#contenido #nombre_p p{
		width: auto;
		height: auto;
		margin-left: 5px;
		color: #47C4FF;
		font-size: 18px;
		font-family: "Arial";
	}

	#contenido #fecha {
		margin-top: -34px;
		margin-left:190px;
		font-size: 10px;
		color: #BDBDBD;
	}

	#contenido #imagen_p{
		width: 90%;
		height: 90%;
		margin: 0 auto;
	}

	#contenido #imagen_p img{
		width: 100%;
	}

	#contenido #contenido_p , #contenido #materia_p {
		width: 90%;
		height: auto;
		margin: 0 auto;
		margin-top: 20px;
		color: #737373;
		text-align: justify;
		font-family: "Arial";
		font-size: 16px;
	}

	#contenido #info_p{
		width: 290px;
		font-size: 14px;
	}

	#contenido #info_p #foto_i{
		margin: 0 auto;
		width: 80%;
		height: 80%;
	}

	#contenido #info_p #foto_i img{
		width: 100%;
		height: 100%;
	}

	#contenido #info_p #div_act_foto input[type="submit"]{
		margin-left: 35%;
	}
}

/* Para pantallas de 480px en adelante */
@media screen and (min-width: 480px){
	.head{
		margin-top: -40px;
	}

	.header_perfil {
		height: 160px;
		margin-top: 40px;
		padding: 10px 0px;
	}

	.header_perfil #foto_perfil{
		width: 120px;
		height: 120px;
		margin-left: 6%;
		margin-top: 15px;
	}

	.header_perfil #datos_principales{
		width: 200px;
		height: 90px;
		margin-left: 34%;
		margin-top: -100px;
		color: white;
	}

	.header_perfil #datos_principales h2 {
		margin-top: 5px;
		font-family:'Open Sans', sans-serif;
	}

	.header_perfil #datos_principales h3 {
		margin-top: -5px;
		font-family: 'Open Sans', sans-serif;
	}

	.menu_centro {
		margin-top: -10px;
	}

	#contenido {
		margin-top: 0px;
		width: 450px;
	}

	#contenido #publicaciones_usuario{
		width: 430px;
	}

	#contenido #publicacion_nueva{
		width: 440px;
	}

	#contenido #publicacion_nueva img{
		width: 35px;
		height: 35px;
		margin-bottom: -10px;
	}

	#espacio {
		height: 250px;
		width: auto;
	}

	#contenido #publicacion_nueva input[type="submit"]{
		width: 162px;
	}

	#contenido #publicacion_nueva TEXTAREA{
		margin-left: 4%;
		margin-top: 10px;
		width: 400px;
		height: 50px;
		font-size: 14px;
		font-family: "Arial";
	}

	#contenido #publicacion_nueva select{
		margin-left: 7%;
		width: 162px;
		margin-bottom: 5px;
	}

	#contenido #nuevo_comentario{
		width: 400px;
		height: 50px;
		margin-top: 10%;
	}

	#contenido #califica{
		margin-left: 75%;
		margin-top: -13%;
		width: 140px;
		height: 50px;
		
	}

	#contenido #califica #muy_malo{
		width: 20px;
		height: 20px;

	}

	#contenido #califica #malo{
		width: 20px;
		height: 20px;

	}

	#contenido #califica #regular{
		width: 20px;
		height: 20px;
		
	}

	#contenido #califica #bueno{
	
		width: 20px;
		height: 20px;
		
	}

	#contenido #califica #muy_bueno{
	
		width: 20px;
		height: 20px;
		
	}

	#contenido #nuevo_comentario input{
		margin-left: 15%;
		margin-top: 10px;
		width: 400px;
		height: 20px;
		font-size: 14px;
		font-family: "Arial";
	}



	#contenido #nombre_p p{
		margin-left: 25px;
		color: #47C4FF;
		font-size: 28px;
		font-family: "Arial";
	}

	#contenido #fecha {
		margin-top: -50px;
		margin-left:310px;
		font-size: 10px;
		color: #BDBDBD;
	}

	#contenido #imagen_p{
		width: 80%;
		height: 80%;
		margin: 0 auto;
	}

	#contenido #imagen_p img{
		width: 100%;
	}

	#contenido #info_p{
		width: 400px;
		font-size: 16px;
	}

	#contenido #info_p #div_act_foto input[type="submit"]{
		margin-left: 38%;
	}

	#contenido #info_p #div_act_foto input[type="file"]{
		margin-left: 8%;
	}

}

/* Para pantallas de 480px en adelante */
@media screen and (min-width: 767px){
	
	#contenido {
		margin-top: 0px;
		width: 760px;
	}

	#contenido #publicaciones_usuario{
		width: 500px;
	}

	#contenido #publicacion_nueva{
		width: 510px;
	}

	#contenido #publicacion_nueva img{
		width: 35px;
		height: 35px;
		margin-bottom: -10px;
	}


	#contenido #publicacion_nueva input[type="submit"]{
		width: 162px;
	}

	#contenido #publicacion_nueva TEXTAREA{
		margin-left: 4%;
		margin-top: 10px;
		width: 455px;
		height: 50px;
		font-size: 14px;
		font-family: "Arial";
	}

	#contenido #publicacion_nueva select{
		margin-left: 13%;
		width: 162px;
		margin-bottom: 5px;
	}

	#contenido #fecha {
		margin-left: 80%;
	}

	#contenido #info_p{
		width: 470px;
		font-size: 17px;
		padding: 10px 20px;
	}

	#contenido #info_p #div_act_foto input[type="submit"]{
		margin-left: 40%;
	}

	#contenido #info_p #div_act_foto input[type="file"]{
		margin-left: 13%;
	}

}

/* Para pantallas de 950px en adelante */
@media screen and (min-width: 950px){
	#contenido {
		margin-top: 0px;
		width: 800px;
	}	

	#contenido #publicaciones_usuario{
		width: 600px;
	}

	#contenido #publicacion_nueva{
		width: 610px;
	}

	#contenido #publicacion_nueva TEXTAREA{
		margin-left: 4%;
		margin-top: 10px;
		width: 545px;
		height: 50px;
		font-size: 14px;
		font-family: "Arial";
	}

	#contenido #publicacion_nueva select{
		margin-left: 17%;
	}

	#contenido #info_p #foto_i{
		margin: 0 auto;
		width: 60%;
		height: 60%;
	}

	#contenido #info_p{
		width: 550px;
		font-size: 18px;
		padding: 10px 40px;
	}

	#contenido #info_p #div_act_foto input[type="submit"]{
		margin-left: 40%;
	}

	#contenido #info_p #div_act_foto input[type="file"]{
		margin-left: 17%;
	}
}
